.fame{
    margin: 14rem 0;
    .container{
        max-width: 980px;
    }

    .fame__box{
        background: $color-primary;
        min-height: 39rem;
        text-align: center;
        padding: 5rem 4rem;
        border-radius: 5px;
        transition: all .5s;
        overflow: hidden;
        margin-bottom: 3rem;
        &-img{
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            margin: 0 auto;
            transition: all .5s;
            position: relative;
            z-index: 1;
            img{
                max-width: 10rem;
            }
        }

        p.p__text{
            margin-top: 3rem;
            position: relative;
            z-index: 2;
            transition: all .5s;
        }


        &:hover{
            box-shadow: 0px 13px 72.96px 23.04px rgba(163, 163, 163, 0.13);

            .fame__box-img{
                box-shadow: 0 0 0 45rem #fcfcfc;
            }
            p.p__text.light{
                color: $text-dark;
            }
        }
    }
}