.judges{
    padding: 14rem 0;
    background: $color-primary;


    &__box{
        background: #fff;
        padding: 5rem 3rem;
        min-height: 50rem;
        border-radius: 5px;
        margin-bottom: 3rem;

        &-img{
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }

        .name{
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }
}


  